PORT=8000
MONGODB_URI="mongodb+srv://<MONGODB_USERNAME>:<MONGODB_PASSWORD>@cluster0.htlu40h.mongodb.net"
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=<your-secret-token>
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=<your-secret-token>
REFRESH_TOKEN_EXPIRY=10d
